<div><a routerLink="">Déconnexion</a></div>

<h2>Page administrateur</h2>
<h3>Liste des rendez-vous du centre {{adminCenter?.name}}</h3>
<ul>
    <li *ngFor="let aRdv of reservations">
    <button>{{aRdv.name | uppercase}} {{aRdv.surname}}, {{aRdv.date}}</button>  
    <button (click)="deleteRDV(aRdv)">Effacer la réservation</button>
</li>
</ul>

<h2>Liste des médecins du centre</h2>
<ul>
    <li *ngFor="let aUser of medecins">
    <button>{{aUser.login}}</button>  
</li>
</ul>

<h3>Ajouter un médecin ci-dessous : </h3>
<form (ngSubmit)="addMedecin()"> 
    <div>
      <label for="name">Login :</label>
      <input type="string" id="login" [(ngModel)]="newMedecin.login" name="login" required>
    </div>  
    
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" [(ngModel)]="newMedecin.password" name="password" required>
    </div>
  
    <button type="submit">Ajouter le compte médecin</button>
</form>
