<div><a routerLink="">Déconnexion</a></div>

<h2>Page administrateur</h2>
<h3>Liste des rendez-vous du centre {{adminCenter?.name}}</h3>
<ul>
    <li *ngFor="let aRdv of reservations">
    <button>{{aRdv.name | uppercase}} {{aRdv.surname}}, {{aRdv.date}}</button>  
    <button (click)="deleteRDV(aRdv)">Effacer la réservation</button>
</li>
</ul>

<h3>Liste des médecins du centre {{adminCenter?.name}}</h3>
<ul>
    <li *ngFor="let aUser of medecins">
    <button>{{getUserLogin(aUser.id)}}</button>  
</li>
</ul>

<form (ngSubmit)="addMedecin()"> 
    <div>
      <label for="email">Email :</label>
      <input type="email" id="login" [(ngModel)]="newMedecin.login" name="login" required>
    </div>  
    
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" [(ngModel)]="newMedecin.password" name="password" required>
    </div>
  
    <button type="submit" routerLink="/admin/:id">Se connecter</button>
    </form>

<a routerLink="/add/user">Créer un compte</a>
