<div><a routerLink="/user/login">Se connecter à un compte utilisateur</a></div>
<div><a routerLink="/admin/login">Se connecter à un compte administrateur</a></div>
<div><a routerLink="/superadmin/login">Se connecter à un compte super-administrateur</a></div>

<h2>Liste des centres de vaccination</h2>

<app-search-bar (search)="handleSearch($event)"></app-search-bar>
<div *ngIf="searchedCenters.length > 0">
    <h2>Résultats de la recherche :</h2>
    <li *ngFor="let aCenter of searchedCenters"
    [ngClass]="selected==aCenter ? 'selected' : ''">
    
    <button
        [ngStyle]="{'font-weight' : isSpecialCenter(aCenter)}" 
        (click)="selectCenter(aCenter)"
        routerLink="/centers/detail/{{aCenter.id}}">
        {{aCenter.name}}
    </button>  
</li>
</div>

<ul>
    <li *ngFor="let aCenter of centers"
    [ngClass]="selected==aCenter ? 'selected' : ''">
    
    <button
        [ngStyle]="{'font-weight' : isSpecialCenter(aCenter)}" 
        (click)="selectCenter(aCenter)"
        routerLink="/centers/detail/{{aCenter.id}}">
        {{aCenter.name}}
    </button>  
</li>
</ul>

