<h2>Reservation d'un rendez-vous à {{this.center!.name}}</h2>

<form (ngSubmit)="onSubmit()"> 
  <div>
      <label for="name">Nom :</label>
      <input type="string" id="name" [(ngModel)]="name" name="name" required>
  </div> 

  <div>
      <label for="surname">Prénom :</label>
      <input type="string" id="surname" [(ngModel)]="surname" name="surname" required>
  </div> 

  <div>
      <label for="mail">Email :</label>
      <input type="string" id="mail" [(ngModel)]="email" name="mail" required>
  </div>  
  
  <div>
    <label for="phone">Téléphone :</label>
    <input type="tel" id="phone" [(ngModel)]="phone" name="phone" required>
  </div>

  <div>
    <label for="date">Date :</label>
    <input type="date" id="date" [(ngModel)]="date" name="date" required>
  </div>

    <button type="submit">Réserver un créneau</button>
  </form>
