<h2>Reservation d'un rendez-vous à {{center!.name}}</h2>

<form (ngSubmit)="onSubmit()"> 
    <div>
        <label for="name">Nom :</label>
        <input type="email" id="login" ngModel="user.login" name="login" required>
    </div> 

    <div>
        <label for="name">Prénom :</label>
        <input type="email" id="login" ngModel="user.login" name="login" required>
    </div> 
  
    <div>
        <label for="email">Email :</label>
        <input type="email" id="login" ngModel="user.login" name="login" required>
    </div>  
  
  <div>
    <label for="password">Téléphone :</label>
    <input type="password" id="password" ngModel="user.password" name="password" required>
  </div>

  <div>
    <label for="password">Date :</label>
    <input type="password" id="password" ngModel="user.password" name="password" required>
  </div>

    <button type="submit">Créer un compte</button>
  </form>
