<div><a routerLink="">Déconnexion</a></div>

<!--a routerLink="/add/user">Créer un compte</a-->

<h2>Liste des centres de vaccination - Page super-administrateur</h2>

<app-search-bar (search)="handleSearch($event)"></app-search-bar>
<div *ngIf="searchedCenters.length > 0">
    <h2>Résultats de la recherche :</h2>
    <li *ngFor="let aCenter of searchedCenters"
    [ngClass]="selected==aCenter ? 'selected' : ''">
    
    <button
        (click)="selectCenter(aCenter)">
        {{aCenter.name}}, {{aCenter.address}}, {{aCenter.city}}
    </button>  
    <button (click)="deleteCenter(aCenter)">Effacer</button> 
</li>
</div>

<ul>
    <li *ngFor="let aCenter of centers"
    [ngClass]="selected==aCenter ? 'selected' : ''">
    
    <button
        (click)="selectCenter(aCenter)">
        {{aCenter.name}}, {{aCenter.address}}, {{aCenter.city}}
    </button>  
    <button (click)="deleteCenter(aCenter)">Effacer</button>  
    </li>
</ul>
<h3>Ajouter un centre ci-dessous : </h3>
<form (ngSubmit)="addCenter()"> 
    <div>
      <label for="name">Nom :</label>
      <input type="string" id="name" [(ngModel)]="newCenter.name" name="name" required>
    </div>  
    
    <div>
      <label for="address">Adresse :</label>
      <input type="string" id="address" [(ngModel)]="newCenter.address" name="address" required>
    </div>

    <div>
        <label for="city">Ville :</label>
        <input type="string" id="city" [(ngModel)]="newCenter.city" name="city" required>
    </div>
  
    <button type="submit" routerLink="/superadmin/{{token}}">Ajouter le centre</button>
</form>



<h2>Liste des administrateurs</h2>

<div>
    <input type="text" placeholder="Rechercher une ville ou un centre..." [(ngModel)]="searchQuery">
    <button (click)="SearchAdmin(token)">Rechercher</button>
</div>

<div *ngIf="searchedAdmins.length > 0">
    <h2>Résultats de la recherche :</h2>
    <li *ngFor="let aAdmin of searchedAdmins"
    [ngClass]="selectedA==aAdmin ? 'selectedA' : ''">
    
    <button
        (click)="selectAdmin(aAdmin)">
        {{aAdmin.login}}
    </button>  
    <button (click)="deleteAdmin(aAdmin)">Effacer</button> 
</li>
</div>

<ul>
    <li *ngFor="let aAdmin of admins"
    [ngClass]="selectedA==aAdmin ? 'selected' : ''">
    
    <button 
        (click)="selectAdmin(aAdmin)">
        {{aAdmin.login}}
    </button>  
    <button (click)="deleteAdmin(aAdmin)">Effacer</button>  
    </li>
</ul>
<h3>Ajouter un administrateur ci-dessous : </h3>
<form (ngSubmit)="addAdmin()"> 
    <div>
      <label for="name">Login :</label>
      <input type="string" id="login" [(ngModel)]="newAdmin.login" name="login" required>
    </div>  
    
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" [(ngModel)]="newAdmin.password" name="password" required>
    </div>

    <div>
        <label for="password">Centre de vaccination associé :</label>
        <select id="centerId" [(ngModel)]="newAdmin.centerId" name="centerId" required>
            <option *ngFor="let center of centers" [value]="center.id">{{center.name}}</option>
        </select>
    </div>
  
    <button type="submit">Ajouter le compte administrateur</button>
</form>
